{% extends 'shared/_layout_website.html' %}
{% block content %}

    <div class="container espaco_bottom center center-align">
        <h4 class="">QUEM SOMOS</h4>
        <div class="borda espaco_bottom center center-align center-block"></div>
        <div class=" container paragrafo">
            <p>A Polícia Nacional de Angola (PNA) é a principal força de segurança de Angola, dependendo organicamente do Ministério do Interior. A PNA concentra funções que estão, na maioria dos restantes países de língua portuguesa, repartidos por diversas organizações policiais e não-policiais distintas. A Polícia Nacional é uma instituição autónoma, com um orçamento individualizado, a partir de dotações globais inscritas no Orçamento Geral do Estado e aprovado por despacho conjunto dos Ministros das Finanças e do Interior.</p>
        </div>
        <div class="col s12">
            <div class="col s12 center-block center molestias">
                <a href="" class="btn white blue-text z-depth-0">Saber mais »</a>
            </div>
        </div>
    </div>


    <div>
      
    </div>
{% endblock content %}