{% extends 'shared/_layout_website.html' %}
{% block content %}

        <div class="container">
            <div class="row center center-align center-block text-center container espaco_top espaco">
                <div class="col s12 m3 servicos">
                    <span class="icon-laptop"></span>
                    <h4>Denuncia Online</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus non quidem</p>
                </div>

                <div class="col s12 m3 servicos">
                    <span class="fa fa-car"></span>
                    <h4>Carros Procurados</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus non quidem</p>

                </div>

                <div class="col s12 m3 servicos">
                    <span class="fa fa-search"> </span>
                    <h4>Verbetes</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus non quidem</p>
                </div>

                <div class="col s12 m3 servicos">
                    <span class="fa fa-chart-bar"></span>
                    <h4>Estatísitcas</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus non quidem</p>
                </div>

            </div>
        </div>
    </div>


    <div>
      
    </div>
{% endblock content %}