{% extends 'shared/_layout_backend.html' %}
{% block content %}
<div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                    <div class="dash-widget">
						<span class="dash-widget-bg3"><i class="fa fa-car" aria-hidden="true"></i></span>
						<div class="dash-widget-info text-right">
							<h3>98</h3>
							<span class="widget-title3">Veiculos <i class="fa fa-check" aria-hidden="true"></i></span>
						</div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                    <div class="dash-widget">
                        <span class="dash-widget-bg3"><i class="fa fa-list-alt"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>1072</h3>
                            <span class="widget-title3">Verbetes <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
                    <div class="dash-widget">
                        <span class="dash-widget-bg3"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>72</h3>
                            <span class="widget-title3">Condutores <i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
               
            </div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-body">
							<div class="chart-title">
								<h4>Verbetes prorrogados</h4>
								<span class="float-right"><i class="fa fa-caret-up" aria-hidden="true"></i> 15%</span>
							</div>	
							<canvas id="linegraph"></canvas>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-body">
							<div class="chart-title">
								<h4>Registo de veiculos</h4>
								<div class="float-right">
									<ul class="chat-user-total">
										<li><i class="fa fa-circle current-users" aria-hidden="true"></i>ICU</li>
										<li><i class="fa fa-circle old-users" aria-hidden="true"></i> OPD</li>
									</ul>
								</div>
							</div>	
							<canvas id="bargraph"></canvas>
						</div>
					</div>
				</div>
			</div>
        </div>
</div>
{% endblock content %}